<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Fiche</strong>
      </div>
      <div class="card-body">
        <h1 class="mb-2">{{ movie.movieTitle  }}</h1>
        <p class="mb-2">{{ movie.movieDescription  }}</p>
        <ul class="ml-4">
          <li>Langue: {{ movie.movieLanguage }}</li>
          <li>Type: {{ movie.movieType }}</li>
          <li>Acteur(s): {{ movie.movieActor }}</li>
          <li>Réalisateur(s): {{ movie.movieDirector }}</li>
        </ul>
        <h2 class="mb-2">Trailer</h2>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/TcMBFSGVi1c"></iframe>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Posteur</strong>
      </div>
      <div class="card-body">
        <img class="card-img-top" src="https://i5.walmartimages.com/asr/67be7b92-4951-4236-a502-812f1907d165_1.af4920c94d5b3d7d6b93be2542afe039.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" />
      </div>
    </div>
  </div>
</div>
