<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Navigation</strong>
      </div>
      <div class="card-body">
        <a routerLink="/movies/list" style="text-decoration: underline">Liste des films</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Fiche</strong>
      </div>
      <div class="card-body text-center" *ngIf="!movie">
        <img src="assets/images/loader.gif" />
      </div>
      <div class="card-body" *ngIf="movie">
        <img [src]="movie ? movieImageFolder + '' + movie.moviePic : ''" class="mb-3" />
        <h1 class="mb-2">{{ movie ? movie.movieTitle : ''  }}</h1>
        <p class="mb-2">{{ movie ? movie.movieDescription : ''  }}</p>
        <ul class="ml-4">
          <li>Langue: {{ movie ? movie.movieLanguage : '' }}</li>
          <li>Type: {{ movie ? movie.movieType : '' }}</li>
          <li>Acteur(s): {{ movie ? movie.movieActor : '' }}</li>
          <li>Réalisateur(s): {{ movie ? movie.movieDirector : '' }}</li>
        </ul>
        <h2 class="mb-3">Trailer</h2>
        <iframe *ngIf="movie" width="700" height="500" [src]="domSanitizer.bypassSecurityTrustResourceUrl(movie.movieTrailer)"></iframe>
      </div>
    </div>
  </div>
</div>
