<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Filtre</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="reservationForm" (ngSubmit)="onSubmitForm()">
          <div class="row form-group">
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Titre" formControlName="movieTitle">
            </div>
            <div *ngIf="user.userType !== 0" class="col-md-2">
              <input type="text" class="form-control" placeholder="Nom" formControlName="userName">
            </div>
            <div *ngIf="user.userType !== 0" class="col-md-2">
              <input type="text" class="form-control" placeholder="Prénom" formControlName="userFirstName">
            </div>
            <div class="col-md-2">
              <select class="form-control" formControlName="projectionRoom">
                <option value="">Tous</option>
                <option *ngFor="let room of listRooms" [value]="room.roomName">{{ room.roomName }}</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="date" class="form-control" formControlName="projectionDay">
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-success">Rechercher</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Liste des resérvations</strong>
      </div>
      <div class="table-stats">
          <table class="table">
            <tr>
              <th>Posteur</th>
              <th>Film</th>
              <th>Salle</th>
              <th>Jour</th>
              <th>Heure début</th>
              <th>Heure fin</th>
              <th class="text-right">Places resérvées</th>
              <th *ngIf="user.userType !== 0">Nom</th>
              <th *ngIf="user.userType !== 0">Prénom</th>
            </tr>
            <tr *ngFor="let reservation of listReservations">
              <td><a routerLink="/movies/{{ reservation.reservationProjection.projectionMovie._id }}"><img [src]="movieImageFolder + '' +  reservation.reservationProjection.projectionMovie.moviePic"/></a></td>
              <td><a routerLink="/movies/{{ reservation.reservationProjection.projectionMovie._id }}">{{ reservation.reservationProjection.projectionMovie.movieTitle }}</a></td>
              <td>{{ reservation.reservationProjection.projectionRoom.roomName }}</td>
              <td>{{ this.formatDate(reservation.reservationProjection.projectionDay) }}</td>
              <td>{{ reservation.reservationProjection.projectionBegin }}</td>
              <td>{{ reservation.reservationProjection.projectionEnd }}</td>
              <td class="text-right">{{ reservation.reservationSeats.length }}</td>
              <td *ngIf="user.userType !== 0">{{ reservation.reservationUser.userName }}</td>
              <td *ngIf="user.userType !== 0">{{ reservation.reservationUser.userFirstName }}</td>
            </tr>
            <tr *ngIf="isLoading"><td colspan="8" class="text-center"><img src="assets/images/loader.gif" /></td></tr>
            <tr *ngIf="!isLoading && listReservations.length === 0"><td colspan="8" class="text-center" style="text-transform:none;">Aucun résultat à afficher</td></tr>
          </table>
      </div>
    </div>
  </div>
</div>
