<div class="row">
  <div class="col-lg-6 offset-lg-2">
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Formulaire</strong>
      </div>
      <div class="card-body">
        <div class="card-title">
          <h3 class="text-center">Ajout séance de cinéma</h3>
          <form [formGroup]="projectionForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
              <label for="projection-title" class="control-label mb-1">Film</label>
              <input id="projection-title"
                type="text"
                class="form-control"
                [placeholder]="movie ? movie.movieTitle : ''"
                disabled>
            </div>
            <div class="form-group">
              <label for="projection-seat" class="control-label mb-1">Salle*</label>
              <select id="projection-seat"
                class="form-control"
                formControlName="projectionRoom">
                  <option *ngFor="let room of rooms; let i = index" [value]="i">{{ room.roomName }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="projection-day" class="control-label mb-1">Jour*</label>
              <input id="projection-day"
                type="date"
                class="form-control"
                formControlName="projectionDay">
                <p *ngIf="projectionForm.get('projectionDay').invalid && (projectionForm.submitted || projectionForm.get('projectionDay').dirty)"
                class="text-danger mt-2">Champ obligatoire</p>
            </div>
            <div class="form-group">
              <label for="projection-begin" class="control-label mb-1">Heure début*</label>
              <input id="projection-begin"
                type="time"
                class="form-control"
                formControlName="projectionBegin">
                <p *ngIf="projectionForm.get('projectionBegin').invalid && (projectionForm.submitted || projectionForm.get('projectionBegin').dirty)"
                  class="text-danger mt-2">
                  <span *ngIf="projectionForm.get('projectionBegin').errors.required">Champ obligatoire <br></span>
                  <span *ngIf="projectionForm.get('projectionBegin').errors.timeInvalid">Doit être inferieur au date fin <br></span>
                </p>
            </div>
            <div class="form-group">
              <label for="projection-end" class="control-label mb-1">Heure fin*</label>
              <input id="projection-end"
                type="time"
                class="form-control"
                formControlName="projectionEnd">
                <p *ngIf="projectionForm.get('projectionEnd').invalid && (projectionForm.submitted || projectionForm.get('projectionEnd').dirty)"
                  class="text-danger mt-2">
                  <span *ngIf="projectionForm.get('projectionEnd').errors.required">Champ obligatoire <br></span>
                  <span *ngIf="projectionForm.get('projectionEnd').errors.timeInvalid">Doit être superieur au date début <br></span>
                </p>
            </div>
            <div class="form-group form-actions">
              <button type="submit" class="btn btn-success mr-1" [disabled]="disableBtn">Ajouter</button>
              <button class="btn btn-primary mr-1" type="reset">Réinitialiser</button>
              <a class="btn btn-warning" routerLink="/projections/list">Annuler</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
