<div class="row">
  <div class="col-lg-6 offset-lg-2">
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Formulaire</strong>
      </div>
      <div class="card-body">
        <div class="card-title">
          <h3 class="text-center">Ajout salle</h3>
          <form [formGroup]="roomForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
              <label for="room-name" class="control-label mb-1">Nom*</label>
              <input id="room-name"
                type="text"
                class="form-control"
                placeholder="Champ obligatoire"
                formControlName="roomName">
                <p *ngIf="roomForm.get('roomName').invalid && (roomForm.submitted || roomForm.get('roomName').dirty)"
                class="text-danger mt-2">Champ obligatoire</p>
            </div>
            <div class="form-group" formArrayName="roomSeats">
              <label for="room-seat" class="control-label mb-1">Places*</label>
              <div *ngFor="let seat of getSeats().controls; let i = index">
                <div class="input-group">
                  <input
                    id="room-seat"
                    type="text"
                    class="form-control mb-2"
                    placeholder="Champ obligatoire"
                    [formControlName]="i">
                    <div class="input-group-addon mb-2" *ngIf="getSeats().length > 1"  (click)="onRemoveSeat(i)">
                      <i class="fa fa-trash-o"></i>
                    </div>
                </div>
                <p *ngIf="getSeats().controls[i].invalid && (roomForm.submitted || getSeats().controls[i].dirty)"
                class="text-danger">
                  <span *ngIf="getSeats().controls[i].errors.required">Champ obligatoire <br></span>
                  <span *ngIf="getSeats().controls[i].errors.duplicate">Cette place existe déjà</span>
                </p>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn" (click)="onAddSeat()">Ajouter un autre place</button>
            </div>
            <div class="form-group form-actions">
              <button type="submit" class="btn btn-success mr-1" [disabled]="disableBtn">Ajouter</button>
              <button class="btn btn-primary mr-1" type="reset">Réinitialiser</button>
              <a class="btn btn-warning" routerLink="/rooms/list">Annuler</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
