<h1>Les cinémas en cours</h1>
<div class="content">
  <div class="row" *ngIf="!listProjections">
    <div class="col-md-12 text-center">
      <img src="assets/images/loader.gif" />
    </div>
  </div>
  <div class="row" *ngIf="listProjections">
    <div class="col-md-3" *ngFor="let projection of listProjections">
      <div class="card">
        <img class="card-img-top" [src]="movieImageFolder + projection.projectionMovie.moviePic" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title mb-3 text-danger">{{ projection.projectionMovie.movieTitle }}</h4>
            <p class="card-text">{{ projection.projectionMovie.movieDescription }}</p>
            <button class="btn btn-primary">Reserver vos places</button>
        </div>
      </div>
    </div>
  </div>
</div>
