<div class="row">
  <div class="col-lg-6 offset-lg-2">
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Formulaire</strong>
      </div>
      <div class="card-body">
        <div class="card-title">
          <h3 class="text-center">Ajout film</h3>
          <form [formGroup]="movieForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
              <label for="movie-title" class="control-label mb-1">Titre*</label>
              <input id="movie-title"
                type="text"
                class="form-control"
                placeholder="Champ obligatoire"
                formControlName="movieTitle">
                <p *ngIf="movieForm.get('movieTitle').invalid && (movieForm.submitted || movieForm.get('movieTitle').dirty)"
                class="text-danger mt-2">Champ obligatoire</p>
            </div>
            <div class="form-group">
              <label for="movie-description" class="control-label mb-1">Déscription*</label>
              <textarea
                rows="8" cols="80"
                class="form-control"
                placeholder="Champ obligatoire"
                formControlName="movieDescription">
              </textarea>
              <p *ngIf="movieForm.get('movieDescription').invalid && (movieForm.submitted || movieForm.get('movieDescription').dirty)"
              class="text-danger mt-2">Champ obligatoire</p>
            </div>
            <div class="form-group">
              <label for="movie-language" class="control-label mb-1">Version</label>
              <select id="movie-language"
                class="form-control"
                formControlName="movieLanguage">
                  <option value="VF">VF</option>
                  <option value="VF">VO</option>
                  <option value="VF">VOSTFR</option>
              </select>
            </div>
            <div class="form-group">
              <label for="movie-type" class="control-label mb-1">Catégorie</label>
              <select id="movie-type"
                class="form-control"
                formControlName="movieType">
                  <option value="Action">Action</option>
                  <option value="Animation">Animation</option>
                  <option value="Aventure">Aventure</option>
                  <option value="Comedie">Comedie</option>
                  <option value="Drame">Drame</option>
                  <option value="Horreur">Horreur</option>
                  <option value="Romantique">Romantique</option>
                  <option value="Thriller">Thriller</option>
              </select>
            </div>
            <div class="form-group">
              <label for="movie-actor" class="control-label mb-1">Acteur(s)</label>
              <input id="movie-actor"
                type="text"
                class="form-control"
                placeholder="Champ obligatoire"
                formControlName="movieActor">
                <p *ngIf="movieForm.get('movieActor').invalid && (movieForm.submitted || movieForm.get('movieActor').dirty)"
                class="text-danger mt-2">Champ obligatoire</p>
            </div>
            <div class="form-group">
              <label for="movie-director" class="control-label mb-1">Réalisateur(s)</label>
              <input id="movie-director"
                type="text"
                class="form-control"
                placeholder="Champ obligatoire"
                formControlName="movieDirector">
                <p *ngIf="movieForm.get('movieDirector').invalid && (movieForm.submitted || movieForm.get('movieDirector').dirty)"
                class="text-danger mt-2">Champ obligatoire</p>
            </div>
            <div class="form-group">
              <label for="movie-poster" class="control-label mb-1">Posteur*</label>
              <input id="movie-poster"
                type="file"
                accept="image/*"
                class="form-control"
                formControlName="moviePic"
                (change)="onFileChange($event)">
                <p *ngIf="movieForm.get('moviePic').invalid && (movieForm.submitted || movieForm.get('moviePic').dirty)"
                class="text-danger mt-2">Champ obligatoire</p>
            </div>
            <div class="form-group">
              <label for="movie-trailer" class="control-label mb-1">Trailer*</label>
              <input id="movie-trailer"
                type="text"
                class="form-control"
                formControlName="movieTrailer"
                placeholder="Champ youtube">
                <p *ngIf="movieForm.get('movieTrailer').invalid && (movieForm.submitted || movieForm.get('movieTrailer').dirty)"
                  class="text-danger mt-2">
                  <span *ngIf="movieForm.get('movieTrailer').errors.required">Champ obligatoire</span>
                  <span *ngIf="movieForm.get('movieTrailer').errors.pattern">Lien invalide</span>
                </p>
                <p class="text-success mt-2">Lien youtube de la forme (https://www.youtube.com/embed/meUuk8KClWY)</p>
            </div>
            <div class="form-group form-actions">
              <button type="submit" class="btn btn-success mr-1" [disabled]="disableBtn">Ajouter</button>
              <button class="btn btn-primary mr-1" type="reset">Réinitialiser</button>
              <a class="btn btn-warning" routerLink="/movies/list">Annuler</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
