<div class="row">
  <div class="col-lg-6 offset-lg-2">
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Information</strong>
      </div>
      <div class="card-body">
        <div class="card-title">
          <h3 class="text-center mb-3">Ajout séance de cinéma</h3>
          <div class="alert alert-primary">
            <p>Pour ajouter des séance de cinéma, aller dans
              <a routerLink="/movies/list" class="alert-link">la liste des films</a> et cliquez sur le boutton 
              <button type="button" class="btn btn-primary">Ajout séance</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
