<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Filtre</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="roomForm" (ngSubmit)="onSubmitForm()">
          <div class="row form-group">
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Salle" formControlName="roomName">
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-success">Rechercher</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
          <strong class="card-title">Liste des salles</strong>
      </div>
      <div class="table-stats">
          <table class="table">
            <tr>
              <th>Nom</th>
              <th>Places</th>
              <th>Location</th>
            </tr>
            <tr *ngFor="let room of listRooms">
              <td>{{ room.roomName }}</td>
              <td><span *ngFor="let seat of room.roomSeats">{{ seat }}, </span></td>
              <td style="text-transform:none;">{{ room.roomLocation }}</td>
            </tr>
            <tr *ngIf="isLoading"><td colspan="8" class="text-center"><img src="assets/images/loader.gif" /></td></tr>
            <tr *ngIf="!isLoading && listRooms.length === 0"><td colspan="8" class="text-center" style="text-transform:none;">Aucun résultat à afficher</td></tr>
          </table>
      </div>
    </div>
  </div>
</div>
