<div class="bg-dark" style="min-height:100vh">
  <div class="sufee-login d-flex align-content-center flex-wrap">
      <div class="container">
          <div class="login-content">
              <div class="login-logo">
                  <a routerLink="/login" style="font-size:40px;color:#878787;">HAPPY GO TO MOVIE</a>
              </div>
              <div class="login-form">
                  <form [formGroup]="passwordForm"  (ngSubmit)="onSubmitForm()" *ngIf="!showMessage">
                      <div class="form-group">
                          <label>Adresse email (identifiant)</label>
                          <input type="email" class="form-control" placeholder="Email" formControlName="userEmail">
                          <p *ngIf="passwordForm.get('userEmail').invalid && (passwordForm.submitted || passwordForm.get('userEmail').dirty)"
                          class="text-danger mt-2">
                          <span *ngIf="passwordForm.get('userEmail').errors.required">Champ obligatoire</span>
                          <span *ngIf="passwordForm.get('userEmail').errors.email">Adresse email non valide</span>
                      </div>
                      <button type="submit" class="btn btn-success btn-flat" [disabled]="disableBtn">Envoyer</button>
                  </form>
                  <p *ngIf="showMessage">
                    Un email a été envoyé à l'adresse {{ passwordForm.get('userEmail').value }} contenant le nouveau mot de passe
                    pour se connecter à HAPPY GO TO MOVIE. Nous vous invitons à changer votre mot de passe une fois connecté.
                    Cliquez <a routerLink="/login" style="color: #ff2e44;">ici</a> pour retourner à la page de connexion.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
